<div >
	<p><%=  @product.title %></p>
	<%= image_tag(@product.image.medium.url) %>
	<p>价格: ￥<%= @product.price %></p>
	<p>描述: ￥<%= @product.description %></p>
	<p>库存: ￥<%= @product.storage %></p>
</div>