<div class="product-item">
	<div class="product-category-image-item-show">
		<%= link_to(product_path(car)) do %><%= image_tag(car.image_medium_path, class: "product-image") %><% end %>
	</div>
	<div>
		<p class="product-price">￥<%= car.price %></p>
		<p class="product-title"><%= car.title %></p>
		<p class="product-heart">
			<% if current_user %>
				<% if current_user.favorites.include?(car) %>
					<span>
						<%= link_to(unfavor_product_path(car),  method: :post, class: "favor-button-full") do %>
							<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
						<% end %>
					</span>
				<% else %>
					<span>
						<%= link_to(favor_product_path(car), method: :post, class: "favor-button-empty") do %>
							<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
						<% end %>
					</span>
				<% end %>
			<% else %>
				<span>
					<%= link_to(favor_product_path(car), method: :post, class: "favor-button-empty") do %>
						<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
					<% end %>
				</span>
			<% end %>
		</p>
	</div>
</div>