<div class="product-item">
	<div class="product-category-image-item-show">
		<% unless dress.image.blank? %>
			<%= link_to(product_path(dress)) do %><%= image_tag(dress.image.medium.url, class: "product-image") %><% end %>
		<% end %>
	</div>
	<div>
		<p class="product-price">￥<%= dress.price %></p>
		<p class="product-title"><%= dress.title %></p>
		<p class="product-heart">
			<% if current_user %>
				<% if current_user.favorites.include?(dress) %>
					<span>
						<%= link_to(unfavor_product_path(dress),  method: :post, class: "favor-button-full") do %>
							<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
						<% end %>
					</span>
				<% else %>
					<span>
						<%= link_to(favor_product_path(dress), method: :post, class: "favor-button-empty") do %>
							<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
						<% end %>
					</span>
				<% end %>
			<% else %>
				<span>
					<%= link_to(favor_product_path(dress), method: :post, class: "favor-button-empty") do %>
						<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
					<% end %>
				</span>
			<% end %>
		</p>
	</div>
</div>