<div class="product-item">
	<p><%=  product.title %></p>
	<% unless product.image.blank? %>
		<%= link_to(product_path(product)) do %><%= image_tag(product.image.medium.url, class: "product-image") %><% end %>
	<% end %>
	<p>价格: ￥<%= product.price %></p>
	<p>描述: <%= product.description %></p>
	<p>库存: <%= product.storage %></p>
	<p>
		<% if current_user %>
			<% if current_user.favorites.include?(product) %>
				<span>
					<%= link_to(unfavor_product_path(product),  method: :post, class: "favor-button-full") do %>
						<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
					<% end %>
				</span>
			<% else %>
				
			<% end %>
		<% else %>
			<span>
				<%= link_to(favor_product_path(product), method: :post, class: "favor-button-empty") do %>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
				<% end %>
			</span>
		<% end %>
	</p>
</div>