<div class="comment-item clearfix">
	<div class="comment-left">
		<div class="comment-star"><%= rating_for_user @product, review.user, "quality", readonly: true %></div>
		<div class="comment-message"><%= review.created_at.strftime("%Y-%m-%d") %></div>
		<div class="comment-title" ><%= review.product.title %></div>
	</div>
	<div class="comment-text"><%= review.content %></div>
	<div class="comment-user-column">
		<div class="user-info"><%= review.user.user_name %></div>
	</div>
	<div class="comment-h-line">
		<hr>
	</div>
</div>