<div class="container-fluid" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">
	<%= render "common/slideImage" %>
	<div class="product-category-container"> 
		<div class="product-category category-1 clearfix">
			<h3 class="product-category-title"><%= link_to(books_path, class:"product-category-title-link") do %>好书城<% end %></h3>
			<div class="product-category-show clearfix">
				<%= render :partial => "product-category-image-book", :collection => @books, :as => :book %>
			</div>
		</div>

		<div class="product-category category-2 clearfix">
			<h3 class="product-category-title"><%= link_to(dresses_path, class:"product-category-title-link") do %>服装馆<% end %></h3>
			<div class="product-category-show clearfix">
				<%= render :partial => "product-category-image-dress", :collection => @dresses, :as => :dress %>
			</div>
		</div>

		<div class="product-category category-1 clearfix">
			<h3 class="product-category-title"><%= link_to(cars_path, class:"product-category-title-link") do %>酷车场<% end %></h3>
			<div class="product-category-show clearfix">
				<%= render :partial => "product-category-image-car", :collection => @cars, :as => :car %>
			</div>
		</div>

		<div class="product-category category-2 clearfix">
			<h3 class="product-category-title"><%= link_to(wines_path, class:"product-category-title-link") do %>红酒庄<% end %></h3>
			<div class="product-category-show clearfix">
				<%= render :partial => "product-category-image-wine", :collection => @wines, :as => :wine %>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var slideIndex = 0;
	showSlide();
	function showSlide() {
	    var i;
	    var slides = document.getElementsByClassName("mySlide");
	    var dots = document.getElementsByClassName("dot");
	    var len = slides.length;
	    for (i = 0; i < slides.length; i++) {
	       slides[i].style.display = "none"; 
	       dots[i].className = dots[i].className.replace(" active-slide", ""); 
	    }
	    slideIndex++;
	    if (slideIndex> len) {slideIndex = 1;}    
	    slides[slideIndex-1].style.display = "block";  
	    dots[slideIndex-1].className += " active-slide";
	    setTimeout(showSlide, 2000); // Change image every 2 seconds
	}
</script>