<div>
	<p><%=  @product.title %></p>
	<%= image_tag(@product.image.medium.url) %>
	<p>价格: ￥<%= @product.price %></p>
	<p>描述: <%= @product.description %></p>
	<p>库存: <%= @product.storage %></p>
</div>
<div>
	<% if @product.storage > 0 %>
		<%= link_to("加入购物车", add_to_cart_product_path(@product), class: "btn btn-danger", method: :post) %>
	<% else %>
		已经售空，无法购买
	<% end %>
</div>
