<div>
	<p><%=  @product.title %></p>
	<%= image_tag(@product.image.medium.url) %>
	<p>价格: ￥<%= @product.price %></p>
	<p>描述: <%= @product.description %></p>
	<p>库存: <%= @product.storage %></p>
</div>
<div>
	<% if @product.storage > 0 %>
		<%= link_to("加入购物车", add_to_cart_product_path(@product), class: "btn btn-danger", method: :post) %>
	<% else %>
		已经售空，无法购买
	<% end %>
</div>

<div>
	<p>质量: <%= rating_for @product, "quality", star: 5, enable_half: true, readonly: true %></p>
</div>

<div class="container-fluid">
	<div class="review-header">商品评价</div>
	<div class="review-select">
		<ul class="review-bar">
			<li class="review-item"><%= link_to("全部评价", "#", class: "review-category") %></li>
			<li class="review-item"><%= link_to("好评", "#", class: "review-category") %></li>
			<li class="review-item"><%= link_to("中评", "#", class: "review-category") %></li>
			<li class="review-item"><%= link_to("差评", "#", class: "review-category") %></li>
		</ul>
	</div>
	<div class="review-container">
		<%= render :partial => "review-item", :collection => @reviews, :as => :review %>
	</div>
</div>
