<div class="slideshow-container">
	<div class="mySlide">
		<%= link_to("#") do %>
			<%= image_tag("land-slide-4.jpg", style: "width: 100%;") %>
		<% end %>
	</div>

	<div class="mySlide">
		<%= link_to("#") do %>
			<%= image_tag("land-slide-2.jpg", style: "width: 100%;") %>
		<% end %>
	</div>

	<div class="mySlide">
		<%= link_to("#") do %>
			<%= image_tag("land-slide-3.jpg", style: "width: 100%;") %>
		<% end %>
	</div>
</div>
<br>
<div style="text-align: center;"> 
	<span class="dot" ></span>
	<span class="dot" ></span>
	<span class="dot" ></span>
</div>