<div class="slideshow-container">
	<div class="mySlide">
		<%= link_to(books_path) do %>
			<%= image_tag("land-slide-5.jpg", style: "width: 100%;") %>
		<% end %>
	</div>

	<div class="mySlide">
		<%= link_to(cars_path) do %>
			<%= image_tag("land-slide-6.jpg", style: "width: 100%;") %>
		<% end %>
	</div>

	<div class="mySlide">
		<%= link_to(wines_path) do %>
			<%= image_tag("land-slide-7.jpg", style: "width: 100%;") %>
		<% end %>
	</div>
</div>
<br>
<div style="text-align: center;"> 
	<span class="dot" ></span>
	<span class="dot" ></span>
	<span class="dot" ></span>
</div>